<h1>Join <%= @league.name %></h1>

<ul>
  <% if @errors %>
    <% @errors.each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  <% end%>
</ul>

<%= form_for @team do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :paid %>
  <%= f.check_box :paid %><br>
  <%= f.hidden_field :league_id, :value => @league.id %><br><br>
  <%= f.submit %>

<% end %>
