<!-- <h1>Edit League Info</h1>

<%= form_for @league do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>
  <%= f.label :sport %>
  <%= f.text_field :sport %><br><br>
  <%= f.label :day_of_week %>
  <%= f.text_field :day_of_week %><br><br>
  <%= f.label :cost %>
  <%= f.number_field :cost %><br><br>
  <%= f.label :level %>
  <%= f.text_field :level %><br><br>
  <%= f.submit %>
<% end %><br><br><br>

<%= button_to "Delete League", @league, :method => :delete %> -->
