<h1><%= @league.name.capitalize %></h1>

<h3>Sport: <%= @league.sport %></h3>

<h3>City: <%= @league.city.name %></h3>

<h3>Day: <%= @league.day_of_week%></h3>

<h3>Cost: $<%= @league.cost %></h3>

<h3>Experience Level: <%= @league.level %> </h3>

<% if @league.teams.size > 0 %>
  <h3>Teams</h3>

    <% @league.teams.each do |team| %>
    <ul>
      <li><%= link_to team.name, team_path(team) %></li>
    </ul>
    <% end %>
    <h3><%= link_to "Join this league!", join_league_path  %> </h3>

<% else %>
  <h3><%= link_to "Be the first team to sign up!", join_league_path  %> </h3>
<% end %><br>

<%= link_to "Update Info", edit_league_path(@league) %><br><br>

<%= link_to "Back to Main Menu", city_path(@league.city) %>
