<div class="container-fluid">
  <div class="card mx-auto w-50">
    <img class="card-img-top" src=<%= @image_url %> alt="Sport photo">
    <div class="card-body">
      <h1 class="card-title"><%= @league.name.split.map(&:capitalize).join(' ') %></h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">City: <%= @league.city.name %></li>
      <li class="list-group-item">Cost: $<%= @league.cost %></li>
      <li class="list-group-item">Experience Level: <%= @league.level %> </li>
    </ul>
    <% if @league.teams.size > 0 %>
      <div class="card-body">
      <h4 class="card-text">Teams</h4>

      <% @league.teams.each do |team| %>
      <ul>
        <li><%= link_to team.name, team_path(team) %></li>
      </ul>
      <% end %>
      </div>
      <div class="btn btn-lg btn-primary">
        <a><%= link_to "Join this league!", join_league_path, :class => "btn" %></a>
      </div>

    <% else %>
    <div class="card-body">
      <h3><%= link_to "Be the first team to sign up!", join_league_path  %></h3>
    </div>
    <% end %><br>

  </div>
</div>
<br><br>

<div class="container-fluid text-center">
  <h5><%= link_to "Back to Main Menu", city_path(@league.city) %></h5>
</div>
