<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1><%= @city.name %> Leagues<h1>
    </div>
    <nav class="nav justify-content-center">
      <a class="nav-link"><%= link_to "Most Popular League", most_popular_path(@city) %></a>
      <a class="nav-link"><%= link_to "Main Menu", cities_path %></a>
      <a class="nav-link"><%= link_to "My Profile", player_path(current_user) %></a>
    </nav>
  <form class="form-inline">
    <%= form_tag(city_path, method: :get) do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <div>
        <%= submit_tag 'Search By Sport', name: nil %>
      <% end %>
  </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
  <% @leagues.each do |league| %>
    <div class="col-xs-12 col-md-4 my-3">
    <%= div_for(league, class: "card") do %>
      <div style="display:none"><%=  @image_url = "/assets/" + league.sport.downcase + ".jpg"%></div>
        <img class="card-img-top" src=<%= @image_url %> alt="Sport photo">
        <div class="card-block">
          <h2 class="card-text text-center"><%= link_to league.name, league_path(league) %></h2>
        </div>
      <!-- </div> -->
    <% end %>
  </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row">
    <h5>Don't see the league you want to join?</h5>
  </div>
  <div class="btn btn-primary">
    <a><%= link_to "Start a New League in #{@city.name}", new_in_city_path(@city), :class => "btn" %></a>
  </div>
</div>
